.header {
    background-color: black;
    width: 100%;
    padding: 10px 3px;
}

/* ヘッダー内のコンテンツ */
.Top-page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* ロゴ画像（左寄せ） */
.Top-page_header .logo {
    flex: 1;
}

/* ロゴ画像 */
.Top-page_header img {
    height: 36px;
    width: 370px;
}

.Top_page_header_search_container {
    flex: 2;
    display: flex;
    margin-left: 30px;
}

.Top_page_header_search {
    width: 140%;
    max-width: 650px;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.Top-page_header .buttons {
    flex: 1; /* 右側に配置 */
    display: flex;
    margin-right: 10px;
    align-items: center;
    white-space: nowrap;
}

/* ボタン類の配置 */
.Top-page_header a,
.Top-page_header form {
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;

}

.nav_button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* 出品ボタン（白枠で囲む） */
.sell_button {
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 4px 12px;
}

/* ボタンのホバー時 */
.Top-page_header a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .Top-page_header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Top_page_header_search_container {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}