/* === 登録フォームの中央寄せ === */
.container {
    width: 400px;
    /* 適切な幅を指定 */
    margin: 20px auto;
    /* 上下の余白を持たせて中央配置 */
    padding: 20px;
    text-align: center;
    /* 内部のテキストを中央寄せ */
}

.title {
    font-size: 36px;
    font-weight: 700px;
}

/* フォームのラベル */
.form-label {
    text-align: left;
    /* 左寄せ */
    display: block;
    /* ブロック要素にして改行 */
    font-weight: bold;
    margin-bottom: 5px;
}

/* ボタンのデザイン */
.file-label {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid red;
    /* 枠線を赤 */
    color: red;
    /* 文字色を赤 */
    background-color: white;
    /* 背景色を白 */
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.image_output {
    width: 100px;
    /* 画像のサイズ */
    height: 100px;
    border-radius: 50%;
    /* 丸い形 */
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background-color: #D9D9D9;
}

/* 画像が選択されたら表示する */
.image_output img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像をトリミングして中央に */
}

/* 入力フォーム */
input[type="text"] {
    width: 100%;
    /* 幅を統一 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* エラーメッセージ */
.form-error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    /* 左寄せ */
}

.alert-danger {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    /* 左寄せ */
}

/* 登録ボタン */
.form_button {
    width: 100%;
    padding: 10px;
    background-color: #FF5555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    /* ブロック要素にして中央配置 */
    margin-top: 10px;
}

.form_button:hover {
    background-color: #fc534e;
}
