.all_content{
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:40px;
    padding: 20px;
    margin: 0 auto;
}

.left_content{
    width: 50%;
    max-width: 800px;
    padding-top: 35px;
    margin: 35px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.item_image {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 4px;
    display: block;
}

.sold-label {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: red;
    z-index: 10;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
}

.sold-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    transform: rotate(45deg);
}

.right_content{
    width: 100%;
    max-width: 800px;
    margin: 35px;
    width: 50%;
}

.like_comment_button .like-comment {
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-left: 10px;
}

.like_comment_button .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like_comment_button .like-btn,
.like_comment_button .comment-icon {
    font-size: 28px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    color: #333;
}

.like_comment_button .like-btn:focus {
    outline: none;
}


.like_comment_button .like-count,
.like_comment_button .comment_count {
    margin-top: 5px;
    font-size: 16px;
    color: #555;
}

.item_name {
    margin-bottom: 5px;
}

.brand_name{
    margin-top: 0px;
    font-size: smaller;
}

.item_price{
    display: flex;
    align-items: baseline;
}

.price_icon,
.price_tax{
    font-size: 20px;
}

.price_value{
    font-size: 30px;
    margin: 0 5px;
    align-items: center;
}

.comment_label {
    color: #5F5F5F;
    font-size: 23px;
    font-weight: bolder;
}

textarea.comment {
    text-align: left;
    width: 100%;
    max-width: 100%;
    height: 120px;
    padding: 8px;
    border: 1.5px solid #454545;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    display: block;
}

.comment-text {
    display: inline-block;
    background-color: #E5E5E5;
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 5px 10px 0;
    font-size: 14px;
}

.purchase,
.comment_button {
    width: 100%;
    padding: 10px;
    background-color: #FF5555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.purchase:hover,
.comment_button:hover {
    background-color: #ff6b65;
}

.item_info{
    display: flex;
    width: 100%;
}

.item_info td{
    padding: 10px;
    text-align: left;
}

.category_title,
.item_condition {
    font-weight: bold;
}

.category_tag{
    display: inline-block;
    background-color: #d8d5d5;
    border-radius: 20px;
    padding: 4px 10px;
    margin: 3px 5px 3px 0;
    font-size: 14px;
}

.item_comment {
    font-weight: bold;
    font-size: large;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.error-message {
    color: #FF5555;
    font-size: small;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .all_content {
        max-width: 100%;

    }

    .left_content,
    .right_content {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .comment-user {
        font-weight: bold;
        margin-bottom: 2px;
    }

    .like_comment_button {
        display: flex;
    }

    .error-message {
        color: #FF5555;
        font-size: small;
    }

}

